
/* header style*/

* {
    font-family: 'Poppins', sans-serif;
}


#navbarSupportedContent ul li a {
    padding-left: 30px !important;
    font: 1em sans-serif;


}

.nav-link {

    color:rgba(200, 200, 200, 1) !important;
    font-weight: bolder;
    font-size: 15px !important;
    

}

.nav-link-active {

    color:rgba(200, 79, 96, 1) !important;
    font-weight: bolder;
    padding: 0 10px 20px 0;
  
}
.navbar-bg {
    min-height: 55px !important;
    background-color:transparent !important;
    height: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

.navbar-bg2 {
    background-color: black !important;
    transition: all .2s ease-in-out;
    animation: smoothScroll 1s forwards;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 55px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.search{
    width: 30%;
}
.py-1{
    margin-left: -30px;
    font-size: 12px;
    color: white;
    opacity: 1.5;
    
}
.add{
    margin-left: -30px;
    font-size: 12px;
    color: white;
    opacity: 1.5;
    padding-top: 8px;
}
.py-1:hover{
    color: rgba(200, 79, 96, 1);
}
#foot-img{
    background-image: url('../Assets/images/section56789.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    
}

#down{
    padding-top: 5%
}
.atb{
    color: white;
    font-weight: bolder;
}
#fac{
    width: 30px !important; 
    color: white !important;
}

/*home*/
#back-img{
    background-image: url('../Assets/images/rs-module-wrap.png');
  
    background-size: cover !important;
    background-repeat: no-repeat;
width: 100%;
    height: 450px;
    
  
}
.invest{
    color: white;
    font-weight: bolder;
    padding-top: 25%;
}
.invest-1{
    color: white;
    font-size: 13px;
}
.money-bag{
    width: 70% !important;
    padding-top:10%;
}
.btn-1{
    background-image:linear-gradient(180deg,rgba(201, 54, 110, 1),rgba(236, 86, 108, 1)) ;
    color: white !important;

}.btn-1:hover{
    background-image:linear-gradient(180deg,transparent,transparent) ;
    color: white !important;
    border: 1px solid white;

}
.btn-2{
    border: 1px solid white !important;
    color: white !important;
    margin-left: 20px;
}.btn-2:hover{
    background-image:linear-gradient(180deg,rgba(201, 54, 110, 1),rgba(236, 86, 108, 1)) ;
    color: white !important;
    border: none !important;
}
.our-few{
    display: flex;
    justify-content: center;
    color: rgba(57, 51, 89, 1);
    font-weight: bolder;

}.spacetap{
    margin-top: 5%;
}
.our1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgba(146, 146, 146, 1);
    opacity: 1;
}
.cycle{
    width: 35%;
    padding-top: 15px;
}
.cycle-1{
    width: 35%;
    padding-top: 7px;
}
.cycle-2{
    width: 35%;
    padding-top: 23px;
    padding-bottom: 23px;
}
.cycle-3{
    width: 40%;
    padding-top: 28px;
    padding-bottom: 28px;
}
.get-set{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: rgba(57, 51, 89, 1);
}.cycle-text{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgba(146, 146, 146, 1);
}
.two-phone{
    width: 90%;
}
.ex-our{
    font-weight: bolder;
    color: rgba(57, 51, 89, 1);
}
.sed-do{
    color: rgba(146, 146, 146, 1);
}
.acc-inside{
    width: 45%;
}
.copy-trade{
    margin-left: -40px;
    font-weight: bold;
    color: rgba(57, 51, 89, 1);
}
.dabore{
    margin-left: -40px;
    color: rgba(146, 146, 146, 1);
    font-size: 12px;
}
.ex-over{
    font-weight: bolder;
    color: rgba(57, 51, 89, 1);
}
.dol{
    color: rgba(57, 51, 89, 1);
    font-size: 16px;
    font-weight: 800;
}
.ips-lorem{
    color: rgba(146, 146, 146, 1);
    font-size: 14px;
}
.btn-3{
    background-image:linear-gradient(90deg,rgba(201, 54, 110, 1),rgba(236, 86, 108, 1)) ;
    color: white !important;
}
.btn-3:hover{
    background-image:linear-gradient(90deg,transparent,transparent) ;
    color:black !important;
    border: 1px solid rgba(201, 54, 110, 1) ;
    transition: .5s;
}

@media (max-width:540px){
    #foot-img{
        background-image: url('../Assets/images/section56789.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;
        
    } 
    #back-img{
        background-image: url('../Assets/images/rs-module-wrap.png');
      
        background-size: cover;
        background-repeat: no-repeat;
    width: 100%;
        height: auto;
        
      
    }
    .invest-1{
        color: white;
        font-size: 11px;
    }
    .navbar-bg {
        min-height: 55px !important;
        background-color:black !important;
        height: auto;
        padding-top: 25px;
        padding-bottom: 25px;
       
    }
    
    .navbar-bg2 {
        background-color: black !important;
        transition: all .2s ease-in-out;
        animation: smoothScroll 1s forwards;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        height: auto;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .fas {
        font-weight: 900;
        font-size: 30px;
        color: rgba(200, 79, 96, 1);
    }
}