
/* header style*/

* {
    font-family: 'Poppins', sans-serif;
}


#navbarSupportedContent ul li a {
    padding-left: 30px !important;
    font: 1em sans-serif;


}

.nav-link {

    color:rgba(200, 200, 200, 1) !important;
    font-weight: bolder;
    font-size: 15px !important;
    

}

.nav-link-active {

    color:rgba(200, 79, 96, 1) !important;
    font-weight: bolder;
    padding: 0 10px 20px 0;
  
}
.navbar-bg {
    min-height: 55px !important;
    background-color:transparent !important;
    height: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

.navbar-bg2 {
    background-color: black !important;
    transition: all .2s ease-in-out;
    animation: smoothScroll 1s forwards;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 55px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.sns .search{
    width: 30%;
}
.sns:hover{
    background-color: white;
    width: 100px;
    height: 30px;
    border-radius: 10px 10px 10px 10px;
   
}
.py-1{
    margin-left: -30px;
    font-size: 12px;
    color: white;
    opacity: 1.5;
    
}
.add{
    margin-left: -30px;
    font-size: 12px;
    color: white;
    opacity: 1.5;
    padding-top: 8px;
}
.py-1:hover{
    color: rgba(200, 79, 96, 1);
}
#foot-img{
    background-image: url('../Assets/images/section56789.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    
}

#down{
    padding-top: 5%
}
.atb{
    color: white;
    font-weight: bolder;
}
#fac{
    width: 30px !important; 
    color: white !important;
}

/*home*/
#bubble{
    background-image: url('../Assets/images/div.png');
    background-size: 67%;
    background-repeat: no-repeat;

    
}
#back-img{
    background-image: url('../Assets/images/rs-module-wrap.png');
  background-position: center;
    background-size: cover !important;
    background-repeat: no-repeat;
width: 100%;
    height: auto;
    
  
}
.invest{
    color: white;
    font-weight: bolder;
    padding-top: 35%;
}
.invest-1{
    color: white;
    font-size: 13px;
    opacity: .6;
}
.money-bag{
    width: 70% !important;
    padding-top:10%;
}
.btn-1{
    background-image:linear-gradient(180deg,rgba(201, 54, 110, 1),rgba(236, 86, 108, 1)) ;
    color: white !important;

}.btn-1:hover{
    background-image:linear-gradient(180deg,transparent,transparent) ;
    color: white !important;
    border: 1px solid white;

}
.btn-2{
    border: 1px solid white !important;
    color: white !important;
    margin-left: 20px;
}.btn-2:hover{
    background-image:linear-gradient(180deg,rgba(201, 54, 110, 1),rgba(236, 86, 108, 1)) ;
    color: white !important;
    border: none !important;
}
.our-few{
    display: flex;
    justify-content: center;
    color: rgba(57, 51, 89, 1);
    font-weight: bolder;

}.spacetap{
    margin-top: 5%;
}
.our1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgba(146, 146, 146, 1);
    opacity: 1;
}
.cycle{
    width: 35%;
    padding-top: 15px;
}
.cycle-1{
    width: 35%;
    padding-top: 7px;
}
.cycle-2{
    width: 35%;
    padding-top: 23px;
    padding-bottom: 23px;
}
.cycle-3{
    width: 40%;
    padding-top: 28px;
    padding-bottom: 28px;
}
.get-set{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: rgba(57, 51, 89, 1);
}.cycle-text{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgba(146, 146, 146, 1);
}
.two-phone{
    width: 90%;
}
.ex-our{
    font-weight: bolder;
    color: rgba(57, 51, 89, 1);
}.ex-our-1{
    font-weight: bolder;
    color: white;
}
.sed-do{
    color: rgba(146, 146, 146, 1);
}
.sed-do-1{
    color: rgba(146, 146, 146, 1);
}
.acc-inside{
    width: 45%;
}
.acc-inside-1{
    width: 30%;
}
.copy-trade{
    margin-left: -40px;
    font-weight: bolder;
    color:rgba(57, 51, 89, 1);
}.copy-trade-1{
    margin-left: -40px;
    font-weight: bolder;
    color:white;
}
.dabore{
    margin-left: -40px;
    color: rgba(146, 146, 146, 1);
    font-size: 12px;
}
.ex-over{
    font-weight: bolder;
    color: rgba(57, 51, 89, 1);
}
.dol{
    color: rgba(57, 51, 89, 1);
    font-size: 14px;
    font-weight: 600;
}
.ips-lorem{
    color: rgba(146, 146, 146, 1);
    font-size: 14px;
}
.btn-3{
    background-image:linear-gradient(90deg,rgba(201, 54, 110, 1),rgba(236, 86, 108, 1)) ;
    color: white !important;
}
.btn-3:hover{
    background-image:linear-gradient(90deg,transparent,transparent) ;
    color:black !important;
    border: 1px solid rgba(201, 54, 110, 1) ;
    transition: .5s;
}
.siled{
    width: 60% !important;
    margin-top:  25%;
}
.better1{
    padding-left: 5%;
    font-weight: bolder;
    font-size: 13px;
    padding-top: 5%;
}.better2{
    padding-left: 5%;
    font-size: 11px;
    color: rgba(146, 146, 146, 1);
    padding-top: 5%;
}
#back-img-1{
    background-image:linear-gradient(140deg,rgba(1, 2, 48, 1),rgba(1, 2, 48, 1),rgba(1, 2, 48, 1),rgba(75, 29, 68, 1));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
}
.con{
    width: 60% !important;
    background-image: url('../Assets/images/section.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25%;
    display: flex;
    justify-content: center;
   
}.btn-4{
    background-image:linear-gradient(90deg,rgba(201, 54, 110, 1),rgba(236, 86, 108, 1)) ;
    color: white !important;
    margin-left: -15px;
    font-size: 14px !important;
}.btn-4:hover{
    color: black !important;
    background-image:linear-gradient(90deg,transparent,transparent) ;
    border: 2px solid rgba(236, 86, 108, 1);
    font-size: 14px !important;
}.join-one{
    color: rgba(57, 51, 89, 1);
    font-weight: bolder;
    padding-top:10%;
    font-size: 14px;
}.join1{
    color: rgba(146, 146, 146, 1);
    font-size: 12px;
}
#back-img-2{
    background-image: url('../Assets/images/section34.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}.our-pri{
    color: rgba(57, 51, 89, 1);
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding-top: 7%;
}.quis-1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgba(146, 146, 146, 1);
}.tablet{
    width: 15%;
}.year{
display: flex;
justify-content: center;
 margin-left: -7%;
 margin-top: -3%;
 color: white;

}.month{
    display: flex;
justify-content: center;
margin-left: 7%;
margin-top: -40px;
color: rgba(57, 51, 89, 1);
font-weight: 600;
}#ticks{
    width: 20px;
}.dd {
    font-size: 12px;
    margin-left: -17px;
    margin-top: 5px;
}.lot{
    font-size: 39px !important;
}.use{
    font-size: 12px;
    color: rgba(57, 51, 89, 1);
   
}.per-use{
    color: rgba(146, 146, 146, 1);
    font-size: 12px;
}.btn-5{
    border: 1px solid rgba(255, 107, 110, 1) !important;
    color: rgba(255, 107, 110, 1) !important;
    padding: 8px 40px 8px 40px !important;
}.btn-5:hover{
    background-image:linear-gradient(90deg,rgba(201, 54, 110, 1),rgba(236, 86, 108, 1)) ;
    color: white!important;
    padding: 8px 40px 8px 40px !important;
}
.btn-6{
    background-image:linear-gradient(90deg,rgba(201, 54, 110, 1),rgba(236, 86, 108, 1)) ;
    color: white!important;
    padding: 8px 40px 8px 40px !important;
}.btn-6:hover{
    border: 1px solid rgba(255, 107, 110, 1) !important;
    color: rgba(255, 107, 110, 1) !important;
    padding: 8px 40px 8px 40px !important;
    background-image:linear-gradient(90deg,white,white) ;
}

#hi-cd{
    height: 100%;
    box-shadow: 0px 0px 7px 0px rgba(255, 107, 110, 1)  ;
}#hi-cd-1{
    height: 100%;
    box-shadow: 0px 0px 7px 0px rgba(255, 107, 110, 1)  ;
}
#hi-cd-2{
    height: 100%;
    box-shadow: 0px 0px 7px 0px rgba(255, 107, 110, 1)  ;
}#vec-1{
    width: 20% !important;
}.paam{
    padding-top: 15px;
    font-weight: bolder;
    color: rgba(57, 51, 89, 1);
}.paam-1{
    color: rgba(146, 146, 146, 1);
    font-size: 15px;
}#vec-2{
    width: 17% !important;
}#back-img-3{
    background-image: url('../Assets/images/section78.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}.ch-out{
    font-weight: bolder;
    color: rgba(57, 51, 89, 1);
    padding-top: 15%;
}.back-white{
    margin-top: 15%;
    background-color: white;
    padding: 10px 23px 10px 40px;
    width: 310px;
}
.many-time{
    color: rgba(146, 146, 146, 1);
}.car-1:hover{
    box-shadow: 0px 0px 10px 0px rgba(255, 107, 110, 1) 
    
}.bac{
    color: rgba(146, 146, 146, 1);
}.pag{
    width: 50%;
    padding-top: 10px;
}

/*account*/
#back-img-6{
    background-image: url('../Assets/images/accounts-header_l.jpg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
}
.acc-type{
    font-weight: bolder;
    color: white;
    padding-top: 20%;
    font-size: 50px;
}.hed-trade{
    color: white;
}.hed-1{
    color: white;
    opacity: .5;
    font-size: 11px;
}.btn-7{
    background-image:linear-gradient(90deg,rgba(236, 86, 108, 1),rgba(201, 54, 110, 1)) ;
    color: white!important;
    font-size: 12px !important;
    padding: 10px 30px 10px 30px !important;
}.btn-7:hover{
    background-image:linear-gradient(90deg,white,white) ;
    color:rgba(236, 86, 108, 1) !important;
    font-size: 12px !important;
    padding: 10px 30px 10px 30px !important;
    border: 1px solid rgba(236, 86, 108, 1);
}
.btn-8{
    background-image:linear-gradient(90deg,rgba(236, 86, 108, 1),rgba(201, 54, 110, 1)) ;
    color: white!important;
    font-size: 12px !important;
    padding: 10px 40px 10px 40px !important;
}.btn-8:hover{
    background-image:linear-gradient(90deg,white,white) ;
    color:rgba(236, 86, 108, 1) !important;
    font-size: 12px !important;
    padding: 10px 30px 10px 30px !important;
    border: 1px solid rgba(236, 86, 108, 1);
}
.look{
    color: white;
    font-size: 12px;
}.see-1{
    font-weight: bolder;
    color: rgba(57, 51, 89, 1);
    padding-top: 18%;
}.lorem-1{
    color: rgba(146, 146, 146, 1);
    font-size: 12px;
}.book{
    width: 25%;
}.lo-is{
    font-weight: bolder;
    color: rgba(57, 51, 89, 1);
}.there{
    color: rgba(146, 146, 146, 1);
}


.dol-sim{
    color:white ;
    font-size: 20px;
    font-weight: bolder;
}.dol-sim-1{
    color:white ;
    font-size: 20px;
    font-weight: bolder;
}
.table-1 thead tr th{
   color: white;
    border: 4px solid white;
   opacity: 1;
   
  
  width: 150px;
  
 

}
.table-1 tbody .tr .Aus-5{
    box-shadow: 0px 0px 10px 0px rgba(236, 86, 108, 1);
    border: 3px solid white ;
    opacity: 1;
}


.mini{
    font-size: 12px;
}
.do-ten{
    font-size: 40px;
    font-weight: bolder;
    color: white;
}.do-ten-1{
    font-size: 40px;
    font-weight: bolder;
    
    color: white;
}.do-ten-2{
    font-size: 40px;
    font-weight: bolder;
    color: white;
}.do-ten-3{
    font-size: 40px;
    font-weight: bolder;
    color:white;
}
.vii{
    padding-top: 10px !important;
    font-size: 28px !important;
    font-weight: bolder !important;
    background-color: transparent !important;
   
    text-align: center;
    font-weight: bolder;
    width: 200px !important;
    border: none !important;
    color: rgba(211, 38, 94, 1)!important;
}.vi{
   
    font-weight:  bolder;
    padding-top: 10px !important;
    text-align: center;
    background-image: linear-gradient(140deg,rgba(252, 43, 111, 1), rgba(180, 95, 133, 1),rgba(212, 213, 219, 1));

}.vi-1{
   font-size: 15px !important;
   padding-top: 10px !important;
    font-weight:  bolder;
    text-align: center;
width: 150px !important;
background-image: linear-gradient(140deg,rgba(252, 43, 111, 1), rgba(180, 95, 133, 1),rgba(212, 213, 219, 1));

}.vi-2{
    font-size: 15px !important;
    padding-top: 10px !important;
     font-weight:  bolder;
     text-align: center;
 width: 150px !important;
 background-image: linear-gradient(180deg,rgba(212, 39, 95, 1), rgba(212, 39, 95, 1));

 color:white !important;

 }
.a-t{
    font-size: 30px;
    color: rgba(57, 51, 89, 1);
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
}
.table-1 tbody .tr td{
    border: 3px solid white;
   
}#quest{
    background-color: rgba(212, 38, 95, 1);
    color:white;
   margin-left: 5px;
border-radius: 50%;
padding: 2px 4px 2px 4px;
font-weight: bolder;
}
.Aus-1{
    color: white;
    text-align: center;
    background-color: rgba(212, 38, 95, 1);
    font-size: 13px;
}.Aus-4{
    border: none !important;
}
.Aus-2{
    padding: 12px 26px 10px 35px !important;
    text-align: center;
    color:rgba(212, 38, 95, 1) ;
    font-size: 11px;
}
.Aus-3{
    padding: 12px 26px 10px 35px !important;
    text-align: center;
    color:rgba(212, 38, 95, 1);
    font-size: 12px;
}.Aus-5{
    padding: 12px 26px 10px 35px !important;
    
}#bn-1{
    background-color:rgba(212, 38, 95, 1)  ;
    border-radius: 20px 20px 20px 20px !important;
    font-size: 6px;
    font-weight: bolder;
    color: white;
   
}#bn-1:hover{
    background-color: white;
    border: 1px solid rgba(212, 38, 95, 1) ;
    border-radius: 20px 20px 20px 20px !important;
    font-size: 6px;
    font-weight: bolder;
    color: rgba(212, 38, 95, 1);
}#back-rx{
    background-image: url('../Assets/images/image 13.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}#col-linear{
    background-image: linear-gradient(140deg,rgba(1, 2, 48, 1), rgba(1, 2, 48, 1),rgba(66, 25, 65, 1));
height: 130px;
}.op-acc{
    font-weight: bolder;
    color: white;
    font-size: 30px;
}#col-linear-1{
    background-image: linear-gradient(140deg,rgba(1, 2, 48, 1), rgba(1, 2, 48, 1),rgba(66, 25, 65, 1));
height: auto;
}.tow-1{
    width: 100%;
}.support-1{
    font-weight: bolder;
    color: white;
}.where{
    color: whitesmoke;
    font-size: 13px;
}.int{
    font-weight: bolder;
    color: white;
}.fine{
    color: whitesmoke;
    font-size: 13px;
}.vit{
    color: rgba(245, 42, 109, 1);
    font-size: 10px;
}.accordion-item{
    background-color: transparent !important;
  border: none !important;
}.accordion-button{
    background-color: transparent !important;
    color: white !important;
    font-size: 15px !important;
}
.accordion-body{
    color: white !important;
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image:url('../Assets/images/svgrt.png') !important;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}
.accordion-button:not(.collapsed)::after{
    background-image:url('../Assets/images/Rectangle 34270.png') !important;
    transform: none !important;
}

/*contact*/
#back-img-7{
    background-image: url('../Assets/images/rs-sbg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
}.gets{
    font-weight: bolder;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 17%;
}.seen{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}#dolor{
    width: 35%;
}.prov-with-4{
    margin-left: -45px;
}.every{
    color: rgba(245, 42, 109, 1);
}
.well-establish{
    font-weight: bolder;
    color: rgba(57, 51, 89, 1);

}.tch{
    font-weight: bolder;
    color: rgba(57, 51, 89, 1);
    display: flex;
    justify-content: center;
    text-align: center;
}.gravidas{
    display: flex;
    justify-content: center;
    text-align: center;
    color:rgba(146, 146, 146, 1) ;
}#home1{
    width: 40%;
}.rev{
    font-weight: bolder;
    color: rgba(57, 51, 89, 1);
    display: flex;
    justify-content: center;
    text-align: center;
}.pre-many{
    display: flex;
    justify-content: center;
    text-align: center;
    color:rgba(146, 146, 146, 1) ;
}


.reach-out{
    font-weight: bolder;
    color:rgba(57, 51, 89, 1) ;
    display: flex;
    justify-content: center;
    text-align: center;
}
#loc{
    width: 30px;
}
.Office-Location{
    font-weight: bolder;
    color: black;
}
.suite-s{
    color:rgba(146, 146, 146, 1) ;
   
}.in-border{
    border: 1px solid rgba(146, 146, 146, 1);
}
#sum-btn{
    
    font-size: 15px;
    background-color:rgba(252, 43, 111, 1);
    
}#int{
    background-color: transparent;
}
.sm{
    display: flex;
    justify-content: center;
    margin-top: -25px;
    font-size: 12px;
    color: black;
    font-weight: bold;
}#pink-color{
    /* border-top: 4px solid rgba(252, 43, 111, 1);
    border-bottom: 4px solid rgba(252, 43, 111, 1);
    border-left:4px solid rgba(252, 43, 111, 1) ;
    border-right:4px solid rgba(252, 43, 111, 1) ;
    border-top-width: 80%  !important; */
      border: 4px solid rgba(252, 43, 111, 1);  
    
}

/*about*/
#back-im{
    background-image: url('../Assets/images/rs-sbg-1.png');
  background-position: center;
    background-size: cover !important;
    background-repeat: no-repeat;
width: 100%;
    height: 500px;
    
  
}#ell{
    width: 20px;
}.para-1{
    margin-left: -30px;
    color:rgba(146, 146, 146, 1) ;
    font-size: 13px;
    margin-top: 5px;
}.btn-8{
    background-image:linear-gradient(90deg,rgba(236, 86, 108, 1),rgba(201, 54, 110, 1)) ;
    color: white!important;
    font-size: 12px !important;
    padding: 10px 30px 10px 30px !important;
}.doo{
    color: rgba(30, 22, 103, 1);
    font-weight: bolder;
}.ipsum-1{
    color:rgba(146, 146, 146, 1) ;
    font-size: 13px;
}#lap-hum{
    width: 85%;
}#ell-1{
    width: 30px;
}.cost-1{
    font-weight: bolder;
    color: rgba(30, 22, 103, 1);
    font-size: 17px;
    margin-left: -50px;
}.para-2{
   
    color:rgba(146, 146, 146, 1) ;
   margin-left: -90px;
   font-size: 14px;
}#omg{
    width: 80%;
}.bus{
    font-weight: bolder;
    color: rgba(30, 22, 103, 1);
    display: flex;
    justify-content: center;
}.lo-im{
    color:rgba(146, 146, 146, 1) ;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 13px;
}#brbl {
    box-shadow: 0px 0px 7px rgba(244, 118, 127, 1);
    width: 238px;
    height: 300px;
}#omg-1{
    width: 60%;
}.essay{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    color: rgba(30, 22, 103, 1);
}.gen{
    color:rgba(146, 146, 146, 1) ;
    display: flex;
    justify-content: center;
    text-align: center;
}#lap-um{
    width: 100%;
}#lap-um-1{
    width: 60%;
}#lap-um-2{
    width: 70%;
}
.kig{
    font-weight: bolder;
    color: rgba(30, 22, 103, 1);
}
.to-to{
    color:rgba(146, 146, 146, 1) ;
    font-size: 13px;
}#horizontal{
    width: 15px;
    height: 1150px;
}.com{
    font-weight: bolder;
    color: rgba(30, 22, 103, 1);
}.opt{
    color:rgba(146, 146, 146, 1) ;
    font-size: 14px;
}#accordionExample-1 .accordion-item{
    box-shadow: 0px 0px 5px rgba(244, 118, 127, 1);
} #accordionExample-1 .accordion-button {
    background-color: transparent !important;
    color: rgba(30, 22, 103, 1)!important;
    font-size: 15px !important;
    font-weight: bolder;
}
#accordionExample-1 .accordion-body{
    color: rgba(146, 146, 146, 1) !important;
}
#accordionExample-1 .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url(../Assets/images/blue-plus.png) !important;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}#accordionExample-1 .accordion-button:not(.collapsed)::after{
    background-image:url('../Assets/images/blue-min.png') !important;
    transform: none !important;
}
.carousel-indicators .active{
    background-color:rgba(255, 59, 97, 1) !important;
}
.carousel-indicators #cir{
    box-sizing: content-box;

    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    line-height: 30px;
    border-radius: 50% !important;
    text-align: center;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: unset;
    cursor: pointer;
    background-color: #fff;
    background-clip: unset;
    border-top: 0;
    border-bottom: 0;
    opacity: .5;
    transition: opacity .6s ease;
    opacity: 1;
    margin-top: -90px;
    
}#divfgs{
    width: 100px;
    padding-top: 20px;
}
.carousel-caption {
 padding-bottom: 5.25rem !important;
    
}.cl-our{
    font-weight: bolder;
    color: rgba(30, 22, 103, 1);
   
}.on-on{
    color: black;
    padding-top: 20px;
}.ani{
    font-weight: bolder;
    color: rgba(30, 22, 103, 1);
    font-size: 13px;
  
    padding-top: 20px;
}.pro-mag{
    color: rgba(146, 146, 146, 1);
    font-size: 15px;
}#did {
    width: 45px;
    margin-top: 75px;
    margin-left: -30px;
}

/*trading*/
#back-im-1{
    background-image: url('../Assets/images/rs-sbg-1.png');
  background-position: center;
    background-size: cover !important;
    background-repeat: no-repeat;
width: 100%;
    height: 500px;
    
  
}
#could{
    margin-top: -100px;
}.str{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    color: rgba(30, 22, 103, 1);
}#rocket{
    background-image: url('../Assets/images/Group 16.png');
    background-position: center;
      background-size: cover !important;
      background-repeat: no-repeat;
  width: 70%;
      height: 730px;
      display: flex;
    justify-content: center;
    margin-left: 70px;
  
}#roct-point{
    width: 25px;
}
#roct-point-s{
    width: 25px;
}
.dot-dot{
    margin-left: -10px;
    font-weight: bolder;
    color: rgba(30, 22, 103, 1);
}.dot-12{
    margin-left: -10px;
    font-size: 12px;
    color:rgba(146, 146, 146, 1) ;
}
.dot-dot-s{
    margin-left: -10px;
    font-weight: bolder;
    color: rgba(30, 22, 103, 1);
}.dot-12-s{
    margin-left: -10px;
    font-size: 12px;
    color:rgba(146, 146, 146, 1) ;
}
#mm{
    margin-left: 85%;

}
#up{
    margin-left: -10px;
}
.co-py{
    font-weight: bolder;
    color: rgba(30, 22, 103, 1);
}.srting{
    color: rgba(146, 146, 146, 1);
    font-size: 15px;
}#clc{
    width: 21px;
}.fill{
    margin-left: -30px;
}.invest-2{
    color:rgba(0, 0, 0, 1);
    font-weight: bolder;
    padding-top: 35%;
}
.invest-4{
    color: rgba(146, 146, 146, 1);
    font-size: 13px;
    
}#blu-pin{
    background-image: url('../Assets/images/sectioncjop.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
}.with-1{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}.some-1{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Mulish', sans-serif;
}.btn0{
    background-color: rgba(40, 40, 40, 1) !important;
    color: white !important;
}
/*platform*/
.fea{
    color: rgba(254, 117, 39, 1);
    font-weight: bolder;
    display: flex;
    justify-content: center;
}.bet-trad{
    font-weight: bolder;
    color: rgba(30, 22, 103, 1);
    display: flex;
    justify-content: center;
    text-align: center;
}
#tis{
    width: 30px;

}.loco{
    display: flex;
    text-align: end;
    justify-content: end;
    font-weight: bolder;
    color: rgba(30, 22, 103, 1);
}
.repeat{
    display: flex;
    text-align: end;
  font-size: 13px;
    justify-content: end;
    color: rgba(146, 146, 146, 1);
}.loco-1{
    display: flex;
    text-align: start;

    font-weight: bolder;
    color: rgba(30, 22, 103, 1);
    margin-left: -10px;
}
.repeat-1{
    display: flex;
    margin-left: -10px;
  font-size: 13px;
  text-align: start;
    
    color: rgba(146, 146, 146, 1);
}.one-one{
    display: flex;
    justify-content: center;


    font-weight: bolder;
    color: rgba(30, 22, 103, 1);
}.one-1{
    color: rgba(146, 146, 146, 1);
    display: flex;
    justify-content: center;
    
font-size: 15px;
}#lap-trade{
    width: 95%;
}#pen{
    
     box-shadow: 0px 0px 10px gainsboro;
    border-left: 3px solid rgba(255, 61, 97, 1);
}#pen-2{
    background-image: linear-gradient(180deg,rgba(255, 45, 148, 1),rgba(254, 73, 46, 1));
    box-shadow: 0px 0px 10px gainsboro;
   border-left: 3px solid rgba(255, 61, 97, 1);
}
.card-title-7{
    font-size: 15px;
    margin-left: -35px;
    font-weight: bolder;
    color: rgba(30, 22, 103, 1);
}.card-text-5{
    font-size: 11px;
    margin-left: -34px;
    color: rgba(146, 146, 146, 1);
}

.card-title-8{
    font-size: 15px;
    margin-left: -35px;
    font-weight: bolder;
    color: white;
}.card-text-6{
    font-size: 11px;
    margin-left: -34px;
    color: white;
    opacity: .7;
}
#pen-1{
    width: 40%;
    margin-top: 30px;
    margin-left: 20px;
}.low-1{
    font-weight: bolder;
    color: rgba(30, 22, 103, 1);
    display: flex;
    justify-content: center;
}#imd{
    background-image: url('../Assets/images/image 13.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}.table thead tr th {
    color: rgba(255, 73, 51, 1);
    font-size: 20px;
   border: none !important;
}.table tbody tr td{
    border: none !important;
    font-size: 18px;
    font-weight: 500;
}
.table tbody tr th{
    font-weight: normal !important;
    color: rgba(255, 73, 51, 1);
    border: none !important;
}.table thead tr .fast{
    border: 1px solid rgba(255, 73, 51, 1) !important;
   
}.dis{
    font-weight: bolder;
    color: rgba(30, 22, 103, 1);
    display: flex;
    justify-content: center;
}


/**/
.card-1 {
    background-image: linear-gradient(140deg, rgba(231, 59, 63, 1),rgba(127, 64, 72, 1), rgba(81, 81, 85, 1));
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 100px;

}
.card-3 {
    background-image: linear-gradient(140deg,rgba(197, 16, 113, 1),rgba(127, 64, 72, 1), rgba(81, 81, 85, 1));
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 100px;

}
.card-2 {
    border: 2px solid rgba(146, 146, 146, 1) ;
    border-radius: 5px;
    margin-top: 50px;

}

.card-title {
    margin-left: 60px;
    font-weight: bold;
    color: hsl(0deg 0% 100%);
}

.card-title-1 {
    margin-left: 30px;
    font-weight: bold;
    color: rgba(245, 67, 54, 1);
}

.card-title-2 {
    margin-left: 40px;
    font-weight: bold;
    color: hsl(225deg 18% 96%);
}

.card-title-3 {
    margin-left: 40px;
    font-weight: bold;
    color: hsl(215deg 87% 9%);
}

.card-text {
    text-align: center;
    font-size: 13px;
    color: hsl(225deg 18% 96%);
    margin-top: 20px;
}

.card-text-1 {
    text-align: center;
    font-size: 13px;
    color: hsl(217deg 26% 23%);
    margin-top: 40px;
}
.card-text-2 {
    text-align: center;
    font-size: 13px;
    color: hsl(217deg 26% 23%);
    margin-top: 40px;
}
.rmore {
    margin-left: 50px;
    color: rgba(245, 67, 54, 1) !important;
    font-weight: bold;
    margin-top: 30px;
}

.rmore-1 {
    margin-left: 50px;
    color: rgba(245, 67, 54, 1) !important;
    font-weight: bold;
    margin-top: 50px;
}#top {
    width: 50px;
    height: 50px;
    margin-left: 80px;
    margin-top: 30px;
}#sect{
    background-image: url('../Assets/images/sectioncjop.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:500px;
}.we-one{
    font-weight: bolder;
    color: white;
    margin-top: 30%;
}.we-1{
    color: white;
    opacity: .7;
    font-size: 14px;
}.for-1{
    font-size: 14px;
    color: white;
    font-weight: bolder;
}#tele-1{
    width: 20px;
}.trid{
    color: white;
    margin-left: -60px;
    font-weight: bolder;
}#mms{
    margin-top: 7%;
    background-color: white;
  width: 365px;
  height: 330px;
}#gil{
    width: 110px;
    margin-top: 100%;
    margin-left: 75px
}#sap{
    width: 120px;
    margin-top: 25%;
}.btn-9{
    background-image:linear-gradient(90deg,rgba(236, 86, 108, 1),rgba(201, 54, 110, 1)) ;
    color: white!important;
font-weight: bold !important;
    padding: 10px 10px 10px 10px !important;
}
.btn-9:hover{
    background-image:linear-gradient(90deg,transparent,transparent) ;
    color: white!important;
font-weight: bold !important;
    padding: 10px 10px 10px 10px !important;
    border: 1px solid rgba(236, 86, 108, 1);
}.btn0{
    background-color: rgba(40, 40, 40, 1) !important;
    color: white !important;
    font-weight: bold;
}.btn0:hover{
    background-color: transparent !important;
    color: white !important;
    font-weight: bold;
    border: 2px solid rgba(40, 40, 40, 1);
}
@media (max-width:540px){
    .imsge{
        display: flex;
        justify-content: center;
    }
    .book{
        width: 25%;
        
    }.lo-is{
        font-weight: bolder;
        color: rgba(57, 51, 89, 1);
        display: flex;
    justify-content: center;
    text-align: center;
    }.there{
        color: rgba(146, 146, 146, 1);
        display: flex;
    justify-content: center;
    text-align: center;
    }
    #up{
        margin-left: -10px;
        display: flex;
        justify-content: end;
    }.dot-12-s {
        margin-left: -35px;
        font-size: 9px;
        text-align: center;
    }.dot-12 {
        margin-left: -35px;
        font-size: 9px;
        text-align: center;
    }.dot-dot {
        margin-left: -35px;
        font-weight: bolder;
        color: rgba(30, 22, 103, 1);
        margin-top: 20px;
        text-align: center;
    }
    .copy-trade-1 {
        margin-left: -25px;
        font-weight: bolder;
        color: white;
    }
    .acc-inside-1 {
        width: 75%;
    }
    .btn-9{
        background-image:linear-gradient(90deg,rgba(236, 86, 108, 1),rgba(201, 54, 110, 1)) ;
        color: white!important;
        font-size: 12px !important;
        padding: 0px 0px 0px 0px !important;
    }
    #back-img-2{
        background-image: url('../Assets/images/section34.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: auto !important;
    }
   
   
    .tablet{
        width: 40%;
    }
    .month {
        display: flex;
        justify-content: center;
        margin-left: 19%;
        margin-top: -41px;
    }
    .year {
        display: flex;
        justify-content: center;
        margin-left: -20%;
        margin-top: -8%;
    }
    .join-one {
        color: rgba(57, 51, 89, 1);
        font-weight: bolder;
        padding-top: 10%;
        font-size: 12px;
        padding-left: 10px;
    }.join1{
        color: rgba(146, 146, 146, 1);
        font-size: 12px;
        padding-left: 10px;
    }
    .btn-4 {
        background-image: linear-gradient(90deg,rgba(201, 54, 110, 1),rgba(236, 86, 108, 1));
        color: white !important;
        margin-left: -15px;
        font-size: 10px !important;
    }

    .con{
        width: 93% !important;
        background-image: url('../Assets/images/section.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 25%;
        display: flex;
        justify-content: center;
       
    }
    #foot-img{
        background-image: url('../Assets/images/section56789.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;
        
    } 
    #back-img{
        background-image: url('../Assets/images/rs-module-wrap.png');
      
        background-size: cover;
        background-repeat: no-repeat;
    width: 100%;
        height: auto;
        
      
    }
    .invest-1{
        color: white;
        font-size: 11px;
    
    }
    .navbar-bg {
        min-height: 55px !important;
        background-color:black !important;
        height: auto;
        padding-top: 25px;
        padding-bottom: 25px;
       
    }
    
    .navbar-bg2 {
        background-color: black !important;
        transition: all .2s ease-in-out;
        animation: smoothScroll 1s forwards;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        height: auto;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .fas {
        font-weight: 900;
        font-size: 30px;
        color: rgba(200, 79, 96, 1);
    }
    #back-img-1{
        background-image:linear-gradient(140deg,rgba(1, 2, 48, 1),rgba(1, 2, 48, 1),rgba(1, 2, 48, 1),rgba(75, 29, 68, 1));
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: auto;
    }
    #back-img-3{
        background-image: url('../Assets/images/section78.png');
        background-repeat: no-repeat;
        background-position: center;
        height: auto;
    }
    .many-time {
        color: rgba(146, 146, 146, 1);
        font-size: 15px;
    }
    .ips-lorem {
        color: rgba(146, 146, 146, 1);
        font-size: 11px;
    }
    #hi-cd-1{
        margin-top: 20px;
    }
    #hi-cd-2{
        margin-top: 40px;
    }
    .dabore {
        margin-left: -25px;
        color: rgba(146, 146, 146, 1);
        font-size: 12px;
    }.copy-trade {
        margin-left: -25px;
        font-weight: bolder;
        color: rgba(57, 51, 89, 1);
    }.acc-inside {
        width: 70%;
    }
    /*account*/
    #back-img-6{
        background-image: url('../Assets/images/accounts-header_l.jpg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: auto;
    }
    .acc-type{
        font-weight: bolder;
        color: white;
        padding-top: 25%;
        font-size: 46px;
    }
    .lorem-1 {
        color: rgba(146, 146, 146, 1);
        font-size: 10px;
    }
    #back-rx{
        background-image: url('../Assets/images/image 13.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: auto;
    }.op-acc {
        font-weight: bolder;
        color: white;
        font-size: 30px;
        margin-top: -25px;
    }
    /*contct*/
    .gets {
        font-weight: bolder;
        color: white;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 45%;
    }.prov-with-4 {
        margin-left: -15px;
    }
    #dolor{
        width: 70%;
    } #pink-color-2 {
        display: flex;
        flex-direction: column-reverse;
    }
    /*about*/
    #back-im{
        background-image: url('../Assets/images/rs-sbg-1.png');
      background-position: center;
        background-size: cover !important;
        background-repeat: no-repeat;
    width: 100%;
        height: auto;
        
      
    }.para-1 {
        margin-left: -25px;
        color: rgba(146, 146, 146, 1);
    }
    .bus {
        font-weight: bolder;
        color: rgba(30, 22, 103, 1);
        display: flex;
        justify-content: center;
        font-size: 15px;
    }.lo-im {
        color: rgba(146, 146, 146, 1);
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 10px;
    }.kig{
        font-weight: bolder;
        color: rgba(30, 22, 103, 1);
        display: flex;
        justify-content: center;
    }
    .to-to{
        color:rgba(146, 146, 146, 1) ;
        font-size: 12px;
        display: flex;
        justify-content: center;
        text-align: center;
    }#horizontal{
        width: 0px;
        height: 0px;
    }.sps{
        margin-top: 25px !important;
    }.cl-our {
        font-weight: bolder;
        color: rgba(30, 22, 103, 1);
        font-size: 6px;
    }#divfgs {
        width: 35px;
        padding-top: 0px
    }.on-on {
        color: black;
        font-size: 5px;
        padding-top: 0px
    }.ani {
        font-weight: bolder;
        color: rgba(30, 22, 103, 1);
        font-size: 5px;
        padding-top: 0px
    }.pro-mag {
        color: rgba(146, 146, 146, 1);
        font-size: 6px;
    }.carousel-caption {
        padding-bottom: 0.25rem !important;
           
       }.carousel-indicators #cir{
        margin-top: 0px;
       }#did {
        width: 17px;
        margin-top: 15px;
        margin-left: -13px;
    }
    /*trading*/
    #back-im-1{
        background-image: url('../Assets/images/rs-sbg-1.png');
      background-position: center;
        background-size: cover !important;
        background-repeat: no-repeat;
    width: 100%;
        height: auto;
        
      
    }#could{
        margin-top: 0px;
    }
    /*platform*/
    #pen{
    
        box-shadow: 0px 0px 10px gainsboro;
       border-left: 3px solid rgba(255, 61, 97, 1);
   }#pen-2{
       background-image: linear-gradient(180deg,rgba(255, 45, 148, 1),rgba(254, 73, 46, 1));
       box-shadow: 0px 0px 10px gainsboro;
      border-left: 3px solid rgba(255, 61, 97, 1);
   }
   .card-title-7{
       font-size: 15px;
       margin-left: -35px;
       font-weight: bolder;
       color: rgba(30, 22, 103, 1);
   }.card-text-5{
       font-size: 11px;
       margin-left: -34px;
       color: rgba(146, 146, 146, 1);
   }
   
   .card-title-8{
       font-size: 15px;
       margin-left: -35px;
       font-weight: bolder;
       color: white;
   }.card-text-6{
       font-size: 11px;
       margin-left: -34px;
       color: white;
       opacity: .7;
   }
   #pen-1{
       width: 40%;
       margin-top: 30px;
       margin-left: 20px;
   }#imd{
    background-image: url('../Assets/images/image 13.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
}.card-2 {
    border: 2px solid rgba(146, 146, 146, 1) !important;
    border-radius: 5px;
    margin-top: -50px;
}#sect{
    background-image: url('../Assets/images/sectioncjop.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:auto;
}
.trid {
    color: white;
    margin-left: -40px;
    font-weight: bolder;
}
#gil {
    width: 110px;
    margin-top: 0%;
    margin-left: 75px;
}.money-bag {
    width: 100% !important;
    padding-top: 0%;
}.invest-4 {
    color: rgba(146, 146, 146, 1);
    font-size: 11px;
}.invest-2 {
    color: rgba(0, 0, 0, 1);
    font-weight: bolder;
    padding-top: 0%;
}#rocket{
    background-image:none !important;
   background-color:transparent !important; 
    background-position: center;
      background-size: cover !important;
      background-repeat: no-repeat;
  width: 70%;
      height: auto;
      display: flex;
    justify-content: center;
    margin-left: 15%;
  
}.dot-dot-s{
    margin-left: -35px;
    font-weight: bolder;
    color: rgba(30, 22, 103, 1);
  text-align: center;
    margin-top: 0px;
}#roct-point-s{
    width: 25px;
    margin-top: 0px;
}#roct-point {
    width: 25px;
    margin-top: 20px;
}.sns .search {
    width: 10%;
}
}
@media (min-width:1500px) and (max-width:1890px){
    #back-im-1{
        background-image: url('../Assets/images/rs-sbg-1.png');
      background-position: center;
        background-size: cover !important;
        background-repeat: no-repeat;
    width: 100%;
        height: 550px;
        
      
    }
    #could{
        margin-top: -150px;
    }
    #rocket{
        background-image: url('../Assets/images/Group 161494.png');
        background-position: center;
          background-size: cover !important;
          background-repeat: no-repeat;
      width: 70%;
          height: 900px;
          display: flex;
        justify-content: center;
        margin-left: 70px;
    }#sap {
        width: 120px;
        margin-top: 15%;
    }#gil {
        width: 110px;
        margin-top: 100%;
        margin-left: 100px;
    }.dot-dot-s{
        margin-left: -10px;
        font-weight: bolder;
        color: rgba(30, 22, 103, 1);
        margin-top: 50px;
    }.dot-12-s{
        margin-left: -10px;
        font-size: 12px;
        margin-top: 10px;
    }#roct-point-s{
        width: 25px;
        margin-top: 50px;
    }
}
.sse{
    margin-top: -30px !important;
}
